body{
           
            
    background-color: rgb(156, 156, 109);

    margin: auto;

    max-height: 100vh;
}

.heading{
    margin: auto;
    text-align: center;
}

.play-button{
    width: 20vw;
    height: 20vw;
    background-color: rgb(210, 105, 30);
    
    border-radius: 50%;

    margin: 0 5vw;
    padding: 5px;

    max-width: 250px;
    max-height: 250px;

    border: none;

    transition: background-color 1s;

    box-shadow: 6px 6px 8px rgba(97, 84, 74, 0.4);
}

.play-button:hover{
    background-color: whitesmoke;
    color: aliceblue;
    scale: 1.2;
    font-weight: bold;

    cursor: pointer;
  
}

.rcp{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.icon{
    max-width: 100%;
    border-radius: 50%;
}


h1,h3{
    margin: 80px auto;
    white-space: nowrap;
}

.scores-section{
    display: flex;
   
    justify-self: center;
    align-items: center;

    max-width: 70vw;

    margin-top: 5vh;

    margin: auto;

    max-width: 400px;
}


.score{
    text-align: center;
    background-color: whitesmoke;

    min-height: 5vh;
    
    flex: 5;
    
    padding-top: 3vh;
    padding-left: 10px;
    padding-right: 10px;
   
    border: 2px solid darkmagenta;
    border-radius: 4px;

    font-size: 1.5vw;

    white-space: nowrap;

    margin-right: 10px;
}

.reset-button{
	text-align: center;
	
    flex: 1;
	
    padding: 20px;
}

.reset{
    background-color: antiquewhite;
    border-radius: 2rem;
    border: none;

    text-align: center;
    
    font-style: bold;
	
    transition: background-color 1s;
    box-shadow: none;
    
    padding: 10px 20px;
    font-size: 0.8vw;
    white-space: nowrap;

   
}

.reset:hover{
    background-color:rgba(0,0,0,0.7);
		color: wheat;
		font-weight: bold;
}


@media (min-width: 450px) {
	.score {
		font-size: 3vh;
	}
}


