*{
    box-sizing: border-box;
    margin: 0;

    padding: 0;
}


body{ 
          
    background-color: rgb(156, 156, 109);

    max-height: 100vh;
}

.heading{
    margin: auto;
    text-align: center;  
}

.players{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.computer,
.user {
    margin: 20px;
    font-weight: bold;

    list-style: none;
}


.avatar {
    width:50px;
    border-radius: 50%;
}


.play-button{
    width: 300px;
    aspect-ratio: 1/1;
    background-color: rgb(210, 105, 30);
    
    border-radius: 50%;

    margin: 0 5vw;
    padding: 5px;

    max-width: 250px;
    max-height: 250px;

    border: none;

    transition: background-color 1s;

    box-shadow: 6px 6px 8px rgba(97, 84, 74, 0.4);
}

.play-button:hover{
    background-color: whitesmoke;
    color: aliceblue;
    scale: 1.2;
    font-weight: bold;

    cursor: pointer;
  
}

.rcp{
    display: flex;
    justify-content: center;

    margin-bottom: 80px;

    text-align: center;
}

.play-button-logo{
    width: 100%;
    font-size: 6rem;
    
}


h1,h3{
    margin: 80px 20px auto;
    white-space: nowrap;
}

.scores-section{
    display: flex;
   
    justify-content: center;
    align-items: center;

    width: 1.5vw;
    height:100px;

    margin: auto;
}


.score{
    text-align: center;
    background-color: whitesmoke;

    min-height: 5vh;
    
    padding: 10px;

    flex: 5;
  
    border: 2px solid darkmagenta;
    border-radius: 4px;

    font-size: 1.5vw;

    white-space: nowrap;

    margin-right: 10px;

}



.reset{
    background-color: antiquewhite;
    border-radius: 1rem;
    border: none;

    text-align: center;
    
    font-style: bold;
	
    transition: background-color 1s;
    box-shadow: none;
    
    padding: 10px 20px;
    font-size: 20px;
    white-space: nowrap;

    height:51px;
    width: 120px;
    
}

.reset:hover{
    background-color:rgba(0,0,0,0.7);
		color: wheat;
		font-weight: bold;
}


@media (min-width:650px) and (max-width:1500px){
    
    .scores-section{
        display: flex;
       
        justify-content: center;
        align-items: center;
    
        width: 60vw;
       
    
        margin: auto;
    }
    
    .score{
        width:40vw;
        font-size: 24px;
    }
}

@media (max-width:649px) {
    
    .scores-section{
        display: flex;
       
        justify-content: center;
        align-items: center;
    
        width: 60vw;
       
    
        margin: auto;
    }
    
    .score{
        width:40vw;
        font-size: 20px;
    }

    .reset{
        
        
        font-size: 16px;
        white-space: nowrap;
    
        height:42px;
        width: 100px;
        
        padding: 5px;
    }

    .play-button{
        width: 150px;
        height: 150px;
        aspect-ratio: 1/1;
        margin: 0 2.5vw;
    }

    .show-result{
        font-size: 16px;
    }

    .scores-section .avatar{
        width: 28px
    }
}
